<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Site</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>
<body>
    <h1>Books</h1>
    <table class="pure-table center">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Publish Date</th>
            </tr>
        </thead>
        <tbody>
            <% @books.each do |book| %>

                <tr>
                    <td><%= book.title%></td>
                    <td><%= book.author%></td>
                    <td><%= book.genre%></td>
                    <td><%= book.price%></td>
                    <td><%= book.publish_date%></td>
                </tr>
            </a>
            <% end %>

        </tbody>
    </table>
    
    <div class="container">

        <a class="pure-button" href="main/add_book">Add Book</a>
        <a class="pure-button" href="main/edit_book">Edit Book</a>
        <a class="pure-button" href="main/delete_book">Delete Book</a>

    </div>
</body>
</html>